* {
    background-color: white; 
}

h2 { margin: 0 }

span.positive_score {
    color: green; 
}
span.negative_score {
    color: red;   
}
a.thing {
    color: black; 
    text-decoration: none; 
}

.pair {
    width: 30em;
}
.pair h3 {
    margin: 0; 
    padding: 0; 
}
.box   {
    width: 47%; 
}
.pair .left  {
    float: left;  
}
.pair .right {
    float: right; 
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

#logos {
    padding-top: 2em;
}

#logos img {
    border: none;
}

.written_by:before {
   content: "--";
}
.written_by {
   font-size: 85%;
}

.opinion_reason:before {
   content: "\"";
}
.opinion_reason:after {
   content: "\"";
}

.infobox {
    width: 50%;
    padding: .5em;
    margin: 1em;
}

#error {
    color: #ff0000;
    background-color: #ffdddd;
    font-weight: bold;
    border: 1px solid #ff9999;
}

#message {
    color: #008800;
    background-color: #ddffdd;
    font-weight: bold;
    border: 1px solid #99ff99;
}

#logged_in_as {
    position: absolute;
    top: 1px;
    right: 0px;
    padding: 1em;
    margin-top: .5em;
    float: right;
    align: right;
}

.openid {   
   background: url(openid-14x14.png) no-repeat;
   background-color: #fff;
   background-position: 0 50%;
   padding-left: 18px;
}

.added {
  background-color: #ff0;
}