* {
    background-color: white; 
}

h2 { margin: 0 }

#logos {
    padding-top: 2em;
}

#logos img {
    border: none;
}

.opinion_reason:before {
   content: "\"";
}
.opinion_reason:after {
   content: "\"";
}

.infobox {
    width: 50%;
    padding: .5em;
    margin: 1em;
}

#error {
    color: #ff0000;
    background-color: #ffdddd;
    font-weight: bold;
    border: 1px solid #ff9999;
}

#message {
    color: #008800;
    background-color: #ddffdd;
    font-weight: bold;
    border: 1px solid #99ff99;
}

#logged_in_as {
    position: absolute;
    top: 1px;
    right: 0px;
    padding: 1em;
    margin-top: .5em;
    float: right;
    align: right;
}

.openid {   
   background: url(openid-14x14.png) no-repeat;
   background-color: #fff;
   background-position: 0 50%;
   padding-left: 18px;
}

.added {
  background-color: #ff0;
}


ul.metadata {
    display: inline;
}

ul.metadata li {
    display: inline;
    line-height: 1.5em;
}

.one_metadata {
    background: #eee;
    border: 1px solid #ddd;
    padding: 0;
}

#my_queue ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 1em;
}

#my_queue ul li {
    padding: 0 0 .6em 0;
    margin: 0 0 0 0;
}

.task_text { font-size: 1.3em; }
.task_links { margin: 0; padding: 0; font-size: .7em; }
.close { font-size: 1.1em; font-weight: bold }